/* This is a CSS file */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body{
font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.log{
    border: solid 1px #000;
    width: 180px;
    padding: 4px 0px;
    margin: 24px 0px 0px 4px;
    float:left;
    text-align: center;
    font-size: 16px;
    background-color: white;
    }
.map{
    width: 180px;
    padding: 4px 0px;
    margin: 24px 0px 0px 0px;
    border: solid 1px #000;
    float:left;
    text-align: center;
    font-size: 16px;
    background-color: white;
}

.map:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.float{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.good_div:before{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.good_div{
    height:284px;
    padding-top: 40px;
    background-color: #ffebb1;
}

.bad_div{
    height:284px;
    padding-top: 40px;
    background-color: #e1f3fe;
}